/* Селекторы по тегам */

body {
    font-family: arial;
    font-size: 18px;
    }
.tag-search{
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-right: 12px;
    margin-bottom: 12px;
    }
.tag-posts{
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    position: relative;
    left: 20%;
    }

main {
    margin: 32px auto;
    width: 320px;
}

hr {
    margin: 24px 0;
}

select {
    padding: 12px 10px;
    background-color: #ddd;
    margin-right: 24px;
    border:none;
    border-radius: 8px;
    font-size: 18px;
}

textarea {
    width: 100%;
    margin-bottom: 16px;
}

input[type=file] {

    margin-bottom: 16px;


}

a {
    color: black;
    font-size: 16px;
}

/* Селекторы по классам */

.button {
    background-color: #9999FF;
    padding: 8px 18px;
    text-decoration: none;
    color: white;
    border:none;
    border-radius: 8px;
    font-size: 18px;

}


